{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Restablecer Contraseña{% endblock %}</title>

{% block content %}

<p class="volver-menu"><a href="{% url 'inicio' %}"><- Volver Al Menú</a></p>

<section class="form-reset-password">
    <form method="POST" class="form-resta">
        {% csrf_token %}
        <h5>Restablecer contraseña</h5>
        
        <!-- Mostrar mensajes de error si existen -->
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </ul>
        {% endif %}
        
        <!-- Mostrar mensajes de error en los campos individuales -->
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <div class="div-contraseña">
            <button type="submit" class="boton-contraseña">Guardar contraseña</button>
        </div>
    </form>
</section>


<script>
    passwordInput.addEventListener("keyup", function() {
        const passwordStrength = zxcvbn(passwordInput.value);
        const passwordStrengthMeter = document.getElementById("password-strength-meter");
        const passwordStrengthText = document.getElementById("password-strength-text");
        
        passwordStrengthMeter.value = passwordStrength.score;
        passwordStrengthText.textContent = passwordStrength.feedback.suggestions.join(" ");
        
        if (passwordStrength.score < 2) {
          passwordStrengthMeter.style.backgroundColor = "red";
        } else if (passwordStrength.score < 4) {
          passwordStrengthMeter.style.backgroundColor = "orange";
        } else {
          passwordStrengthMeter.style.backgroundColor = "green";
        }
      });
    
</script>
{% endblock %}
