{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Solicitud Enviada{% endblock %}</title>

{% block content %}

<p class="volver-menu"><a href="{% url 'inicio' %}"><- Volver Al Menú</a></p>


<div class="container-soli">
<h2 class="title-soli">Solicitud de restablecimiento de contraseña enviada</h2>
<p class="parrafo-soli">Se ha enviado un correo electrónico a tu Gmail con instrucciones para restablecer tu contraseña. Por favor, verifica tu bandeja de entrada y la carpeta de correo no deseado.</p>   
</div>
{% endblock %}
