{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Confirmacion Contraseña{% endblock %}</title>

{% block content %}

<p class="volver-menu"><a href="{% url 'inicio' %}"><- Volver Al Menú</a></p>

<div class="container-soli">
    <h2  class="title-soli">¡¡CONTRASEÑA RESTABLECIDA CON EXITO!!</h2>
    <p class="parrafo-soli">Tu contraseña se ha restablecido correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
<div class="boton-fina-contra">
    <a href="{% url 'login' %}" class="btn btn-warning">INICIAR SESION</a>
</div>
</div>
{% endblock %}
