{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Restablecer Contraseña{% endblock %}</title>

{% block content %}

<p class="volver-menu"><a href="{% url 'inicio' %}"><- Volver Al Menú</a></p>


<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Restablecer Contraseña</h3>
		<div class="card-text">    
            <form method="POST" action="{% url 'password_reset' %}" class="form-restablecer" id="reset-form">
                {% csrf_token %}
                <div class="form-group">
                    <label class="texto-recuperar">Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</label>
                    <input type="email" name="email" class="form-control form-control-sm" id="email-input" placeholder="Ingrese su correo" required>
                </div>
                    <button type="button" id="reset-button" class="btn btn-warning btn-block">Restablecer contraseña</button>
            </form>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const resetButton = document.getElementById("reset-button");
    const emailInput = document.getElementById("email-input");

    resetButton.addEventListener("click", function() {
        const email = emailInput.value;
    
        if (email == ''){
            return alert('El campo esta vacio');
        }
        

        // Verificar si el correo electrónico está registrado
        fetch(`/check_email/?email=${email}`)
            .then(response => response.json())
            .then(data => {
                if (data.exists) {
                    // Si el correo existe, enviar el formulario
                    document.getElementById("reset-form").submit();
                }
                else {
                    // Si el correo no existe, mostrar mensaje de error
                    alert("El correo electrónico no está registrado.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });
    });
});
</script>
{% endblock %}

